CODEFUN_API_URL=https://codefun.vn/api
DB_DIRECT=postgresql://USER:PASSWORD@localhost:PORT/database?host=/run/postgresql/&schema=suzume
DB_POOLER=postgresql://USER:PASSWORD@localhost:PORT/database?host=/run/pgbouncer/&pgbouncer=true
